@media (max-width: 1200px){
    .container{
        max-width: 1000px;
        main{
            ul{
                li{
                    flex-wrap: nowrap;
                    div{
                        width: 300px;
                        height: 350px;
                        img{
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .container{
        max-width: 800px;
    }
}

@media (max-width: 800px) {
    .container{
        max-width: 700px;
        main{
            ul{
                li{
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .container{
        max-width: 500px;
        header{
            ul{
                li{
                    div{
                        display: none;
                    }
                   .burger{
                    display: block;
                   }
                }
            }
        }
        main{
            .slider_div{
                height: 180px;
                p{
                    font-size: 22px;
                    margin-left: 15px;
                }
                img{
                    width: 280px;
                    margin-top: 25px;
                }
            }
            ul{
                li{
                    width: 500px;
                    justify-content: center;
                    div{
                        width: 400px;
                        height: 450px;
                        img{
                            width: 200px;
                            margin-top: 30px;
                        }
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}